<div class="header">
  <div class="header-container">
    <div class="header-title">ТЕСТ</div>
    <div class="nav">
      <ul>
        <li><a href="#">КЛУБ</a></li>
        <li><a href="#">База знаний</a></li>
        <li><a href="#">ИНСТРУМЕНТЫ</a></li>
        <li>
          <span class="header-avatar">
            <img class="header-avatar-img" src="assets/images/header/Avatar.png" alt="Avatar">
          </span>
          <span><a href="#">ВХОД</a></span>
        </li>
        <li><a class="header-reg" href="#">РЕГИСТРАЦИЯ</a></li>
        <li><a href="#">RU</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-linear-grad">
  </div>
  <div class="main-container">
    <div class="main-title-container">
      <h2 class="main-title">Регистрация личного кабинета</h2>
    </div>
    <div class="main-registration">
      <form class="singin-form" [formGroup]="regForm" (submit)="submit()">
        <div class="form-group">
          <label for="email">E-mail<i>*</i></label>
          <input type="email" id="email" formControlName="email"
                 [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }"
                 class="form-control" email="true">
          <div *ngIf="f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">E-mail необходим</div>
            <div *ngIf="f.email.invalid">Не корректный E-mail</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Придумайте пароль<i>*</i></label>
          <input type="password" id="password" formControlName="password"
                 [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }"
                 class="form-control">
          <div *ngIf="f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Пароль необходим</div>
            <div *ngIf="f.password.invalid">Минимум 6 символов</div>
          </div>
        </div>
        <div class="form-group">
          <label for="passConfirm">Подтвердите пароль<i>*</i></label>
          <input type="password" id="passConfirm" formControlName="passConfirm"
                 [ngClass]="{ 'is-invalid': regForm.hasError('notSame') ||
                                  (f.passConfirm.touched && f.passConfirm.errors)}"
                 class="form-control">
          <div *ngIf="f.passConfirm.errors" class="invalid-feedback">
            <div *ngIf="f.passConfirm.errors.passConfirm">Пароль необходим</div>
          </div>
          <div *ngIf="regForm.hasError" class="invalid-feedback">
            <div *ngIf="regForm.hasError('notSame')">Пароли не совпадают</div>
          </div>
        </div>
        <div class="form-group text-check">
          <div>
            <input id="rules" type="checkbox" formControlName="rules"
                   [ngClass]="{ 'is-invalid': f.rules.touched  && f.rules.errors }">
            <label for="rules">Я ознакомлен с <a href="#">Условиями, положениями и рисками</a></label>
            <div *ngIf="f.rules.errors" class="invalid-feedback">
              <div *ngIf="f.rules.errors.required">Необходимо отметить</div>
            </div>
          </div>
          <div>
            <input id="privacy" type="checkbox" formControlName="privacy"
                   [ngClass]="{ 'is-invalid': f.privacy.touched && f.privacy.errors }">
            <label for="privacy">Я ознакомлен с <a href="#">Политикой конфиденциальности</a></label>
            <div *ngIf="f.privacy.errors" class="invalid-feedback">
              <div *ngIf="f.privacy.errors.required">Необходимо отметить</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="submit-button" type="submit" [disabled]="regForm.invalid">Регистрация</button>
        </div>

      </form>
    </div>
  </div>

</div>

